<footer class="footer">
    <div class="container">
        <div class="web_footer">
            <div class="dec_css">Copyright © 2022-2022 CoCore Technology. All rights reserved.</div>
            <div class="dec_css">京ICP备15017501号-4 <img src="{{ url_for('static', filename='images/beian.png') }}">京公网安备 11010602006953号</div>
        </div>
        <div class="web_footer">
            <div class="dec_css">北京市丰台区南三环西路91号院1号楼12层1单元1510</div>
            <div class="dec_css">北京极核科技有限公司</div>
        </div>
    </div>
</footer>